@import url('https://fonts.googleapis.com/css?family=Abel|Raleway');

:root {
    --font-family-serif: 'Abel', 'Raleway', Garamond, "Times New Roman", serif;
    --font-family-sans-serif: 'Abel', 'Raleway', Helvetica, Arial, sans-serif;
  
    --grey-border: #eee;
    --grey-text: #aaa;
    --black: #000;
    --white: #fff;
  }
  
  @custom-media --xxs (min-width: 400px);
  @custom-media --xs (min-width: 700px);
  @custom-media --sm (min-width: 1000px);
  @custom-media --md (min-width: 1300px);
  @custom-media --lg (min-width: 1900px);
  @custom-media --xl (min-width: 2500px);
  